@page
@model RazorFeed.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UserPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserPost.UuserId" class="control-label"></label>
                <input asp-for="UserPost.UuserId" class="form-control" />
                <span asp-validation-for="UserPost.UuserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPost.Content" class="control-label"></label>
                <input asp-for="UserPost.Content" class="form-control" />
                <span asp-validation-for="UserPost.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPost.PostDate" class="control-label"></label>
                <input asp-for="UserPost.PostDate" class="form-control" />
                <span asp-validation-for="UserPost.PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
