@page
@model RazorFeed.Pages.Handlers.SubmitPostModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitPost</title>
</head>
<body>
</body>
</html>
